body {
  background-color: black;
}

.dashboardContainer {
  display: flex;
  margin-top: 8vh;
  position: relative;
  width: 100%;
  min-height: 92vh;
}

.mainContent {
  flex-grow: 1;
  margin-left: 15vw;
  height: 92vh;
  overflow-y: auto;
  background-color: rgb(29, 28, 28);
  margin-top: 1vh;
  position: fixed;
}
