.container {
  width: 20vw;
  height: 92vh;
  background-color: rgb(29, 28, 28);
  border: 1px solid black;
  margin: 0.5%;
}

.text {
  font-size: x-large;
  text-align: center;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}

.linkContainer {
  display: flex;
  cursor: pointer;
  border-radius: 5%;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 5%;
}

.likeIcon {
  color: white;
}

.linkText {
  font-size: large;
  color: white;
  padding-left: 10%;
}

.linkContainer.active {
  background-color: rgb(207, 63, 87);
  padding: 0.5%;
  margin-left: 10%;
  margin-right: 10%;
}
